@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  button {
    @apply transition-colors duration-300;
  }
  .overflow-style-y {
    overflow-y: auto;
  }
  .overflow-style-y::-webkit-scrollbar {
    @apply w-[6px] bg-neutral-50 dark:bg-neutral-700;
  }
  .overflow-style-y::-webkit-scrollbar-thumb {
    @apply bg-yellow-500 dark:bg-yellow-500  py-4;
  }
  .overflow-style-y::-webkit-scrollbar-track {
    @apply my-4 bg-neutral-300 dark:bg-neutral-950;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .overflow-style-x {
    overflow-x: auto;
  }
  .overflow-style-x::-webkit-scrollbar {
    @apply h-[6px] bg-neutral-50 dark:bg-neutral-700;
  }
  .overflow-style-x::-webkit-scrollbar-thumb {
    @apply bg-yellow-500 dark:bg-yellow-500  px-4;
  }
  .overflow-style-x::-webkit-scrollbar-track {
    @apply mx-4 bg-neutral-300 dark:bg-neutral-950;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  input[type="checkbox"] {
    @apply mx-auto flex h-4 w-4 cursor-pointer appearance-none items-center justify-center rounded border-2 border-white bg-neutral-300 outline-none ring-2 ring-neutral-300;
    -webkit-appearance: none;
  }

  input[type="checkbox"]:after {
    @apply hidden text-[0.8rem] font-black text-white;
    font-family: "Material Symbols Rounded";
    content: "\e5ca";
  }
  input[type="checkbox"]:hover {
    @apply bg-neutral-400;
  }
  input[type="checkbox"]:checked {
    @apply bg-blue-500 ring-blue-500;
  }

  input[type="checkbox"]:indeterminate {
    @apply bg-blue-500 ring-blue-500;
  }
  input[type="checkbox"]:checked:after {
    @apply block;
  }
  input[type="checkbox"]:active {
    @apply bg-blue-500 ring-blue-500;
  }

  input[type="checkbox"]:focus {
    @apply bg-blue-600 ring-blue-800;
  }
  input[type="checkbox"]:checked:focus {
    @apply bg-blue-600 ring-blue-800;
  }

  .bar-of-progress {
    @apply fixed left-0 top-0 z-1200 m-0 h-[2px] w-full rounded-none bg-current p-0 text-yellow-500 opacity-0;
    border: medium;
    /* Start with width 0 */
    transition: width 2s ease-out, opacity 0.5s 0.2s; /* Change width transition duration to 2s */
  }

  .glow {
    @apply h-full opacity-[0.4];
    box-shadow: 3px 0px 8px;
  }

  .finished {
    @apply w-full opacity-100; /* When finished, width is 100% */
    /* When finished, opacity is 1 */
  }
  /* Path 1 (Lingkaran hijau) */
  #svg-centang .svg-elem-1 {
    fill: #24ff00;
    stroke-width: 10px;
    transform-origin: center;
    transform: scale(0);
    transition: transform 0.5s ease-in-out;
  }

  /* Path 2 (Tanda centang putih) */
  #svg-centang .svg-elem-2 {
    stroke-dasharray: 633.4463500976562px;
    stroke-dashoffset: 633.4463500976562px;
    transition: stroke-dashoffset 0.5s ease-in-out 0.5s;
    stroke-width: 100px;
    fill: transparent;
  }

  /* Ketika SVG aktif, animasi mulai berjalan */
  #svg-centang.active .svg-elem-1 {
    transform: scale(1);
  }

  #svg-centang.active .svg-elem-2 {
    stroke-dashoffset: 0;
  }
  #svg-centang {
    width: 200px;
    height: 200px;
    display: block;
    margin: 50px auto;
  }

  /* Lingkaran merah */
  .red-circle {
    transform-origin: center;
    transform: scale(0);
    /* Awalnya kecil */
    transition: transform 0.5s ease-in-out;
    /* Animasi membesar dalam 0.5s */
  }

  /* Garis stroke 1 */
  .stroke-1 {
    transform-origin: center;
    transform: scale(0);
    /* Awalnya kecil */
    transition: transform 0.5s ease-in-out 0.5s;
    /* Animasi grow dalam 0.5s setelah red-circle */
  }

  /* Garis stroke 2 */
  .stroke-2 {
    transform-origin: center;
    transform: scale(0);
    /* Awalnya kecil */
    transition: transform 0.5s ease-in-out 0.5s;
    /* Animasi grow dalam 0.5s setelah red-circle */
  }

  /* Rotasi garis stroke setelah membesar */
  .rotate-1 {
    transition: transform 0.5s ease-in-out;
    /* Animasi rotasi dalam 0.5s */
    transform: scale(1) rotate(45deg);
    /* Membesar dan rotasi 45 derajat */
  }

  .rotate-2 {
    transition: transform 0.5s ease-in-out;
    /* Animasi rotasi dalam 0.5s */
    transform: scale(1) rotate(-45deg);
    /* Membesar dan rotasi -45 derajat */
  }

  /* Ketika SVG aktif, animasi mulai */
  #svg-x.active .red-circle {
    transform: scale(1);
    /* Membesar */
  }

  #svg-x.active .stroke-1,
  #svg-x.active .stroke-2 {
    transform: scale(1);
    /* Membesar */
  }

  #svg-x.rotated .stroke-1 {
    transform: scale(1) rotate(45deg);
    /* Rotasi stroke 1 */
  }

  #svg-x.rotated .stroke-2 {
    transform: scale(1) rotate(-45deg);
    /* Rotasi stroke 2 */
  }

  /* Menjaga ukuran SVG */
  #svg-x {
    width: 200px;
    height: 200px;
    display: block;
    margin: 50px auto;
  }
}
